<div ng-controller="authController">
    <h1> Страница авторизации </h1>
    <div class="container">
        <div class="form-control">
            <!-- <label>login:</label> -->
            <input type="text" placeholder="login" ng-model="login">
        </div>

        <div class="form-control">
            <!-- <label>Пароль</label> -->
            <input type="password" placeholder="Пароль" ng-model="password">
        </div>
        <button class="btn" ng-click="check(login, password)">Войти</button>
    </div>
</div> 